@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800;1000&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(175, 225, 240);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media (min-width: 851px) {
  .container {
   background-color: rgb(7, 192, 248);
  height: 120vh;
   width: 100%;
    
  }
}